---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - 1bb3efd2cacd614b697838751feb94da
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"2de7d5960057637f8f7446593a9c35cd"'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "initial_velocity": 10,
            "iteration_length": 1,
            "name": "Peetee",
            "id": 964498,
            "has_google_domain": false,
            "public": true,
            "bugs_and_chores_are_estimatable": false,
            "kind": "project",
            "updated_at": "2013-11-25T17:01:16Z",
            "start_time": "2013-12-02T05:00:00Z",
            "enable_incoming_emails": true,
            "number_of_done_iterations_to_show": 12,
            "enable_planned_mode": false,
            "point_scale_is_custom": false,
            "current_iteration_number": 1,
            "atom_enabled": false,
            "time_zone": {
              "offset": "-05:00",
              "kind": "time_zone",
              "olson_name": "America/New_York"
            },
            "week_start_day": "Monday",
            "account_id": 53831,
            "created_at": "2013-11-25T17:01:16Z",
            "point_scale": "0,1,2,3",
            "version": 7,
            "enable_following": true,
            "velocity_averaged_over": 3,
            "enable_tasks": true
          },
          {
            "initial_velocity": 10,
            "iteration_length": 1,
            "name": "New Project",
            "id": 971928,
            "has_google_domain": false,
            "public": true,
            "bugs_and_chores_are_estimatable": false,
            "kind": "project",
            "updated_at": "2013-12-07T01:07:50Z",
            "start_time": "2013-12-02T00:00:00Z",
            "enable_incoming_emails": true,
            "number_of_done_iterations_t[...]
